# Visual Studio 2019 cache/options directory
.vs/

# Shader compilation batch script (built by cmake instead)
compile_all_shaders.bat

# CMake output directory
out/

# CMakeSettings
CMakeSettings.json

# personal project defines (which scene to load etc.)
# project_defines.hpp

# local path to repository data
source/realtimertfilters/base/DataPath.h
source/realtimertfilters/realtimertfilters-app/data/shaders/glsl/compile_all_shaders.bat
source/realtimertfilters/realtimertfilters-app/project_defines.hpp

# ignore .spv binaries
*.spv
