# Visual Studio 2019 cache/options directory
.vs/

# CMake output directory
out/

# CMakeSettings
CMakeSettings.json

# personal project defines (which scene to load etc.)
# project_defines.hpp

# local path to repository data
source/realtimertfilters/base/DataPath.h
